*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Slab', 'serif';
}
body{
    background: url("./img/DCug3kvUQAAPAhY.jpg") no-repeat fixed ;
    background-size: cover;
}
header{
    display: flex;
    background-color: transparent;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    padding-top: 1%;
    margin-bottom: 10px;
}
.header-logo{
    width: 20vw;
}
#cards-div{
    max-height: 70vh;
    margin: 1%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: auto;
    
}
.cards{
    border-radius: 10px;
    background: rgba(19, 18, 21, 0.8);
    width: 13vw;
    height: 30vh;
    margin: 5px;
    padding: 1%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.char-img{
    width: 5vw;
    border-radius: 50px;
    border: 3px ridge #bb9a2c;
}
.img-container{
    display: flex;
    justify-content: center;
}
.title-container{
    color: #9e8b3d;
    display: flex;
    align-items: center;
    flex-direction: column  ;
}
.char-properties{
    color: #d1cda8;
    font-size: 90%;
    font-family: 'Lato', sans-serif;
}
::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background:  rgba(19, 18, 21, 0.8); 
  }
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  